.abc-admin-editor-content {
	display: flex;

	.abc-admin-radio {
		width: 50%;
	}

	.abc-admin-editor-preview-area {
		width: 280px;
		max-width: 50%;

		.abc-editor {
			border: 1px solid rgb(221, 221, 221);
		}

		.abc-plane-text {
			padding: 12px;
			border: 1px solid rgb(221, 221, 221);
		}
	}
}

